<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libedi.demo.customer.mapper.CustomerMapper">
    
    <!-- Select Customer -->
    <select id="selectCustomerList" parameterType="int" resultType="com.libedi.demo.customer.model.Customer">
        SELECT
            CUSTOMER_ID
            , CUSTOMER_NAME
            , COMPANY
        FROM CUSTOMER
        <where>
            <if test="_parameter != null">
                CUSTOMER_ID = #{_parameter}
            </if>
        </where>
    </select>
    
    <!-- Insert Customer -->
    <insert id="insertCustomer" parameterType="com.libedi.demo.customer.model.Customer">
    	INSERT INTO CUSTOMER(
    		CUSTOMER_ID
            , CUSTOMER_NAME
            , COMPANY
    	) VALUES (
    	    #{customerId}
    		, #{customerName}
    		, #{company}
    	)
    </insert>
    
    <!-- Update Customer -->
    <update id="updateCustomer" parameterType="com.libedi.demo.customer.model.Customer">
    	UPDATE CUSTOMER
    	<set>
    		<if test="customerName != null and customerName != ''">
    		CUSTOMER_NAME = #{customerName}
    		</if>
    		<if test="company != null and company != ''">
    		, COMPANY = #{company}
    		</if>
    	</set>
    	WHERE CUSTOMER_ID = #{customerId}
    </update>
    
    <!-- Delete Customer -->
    <delete id="deleteCustomer" parameterType="int">
    	DELETE FROM CUSTOMER
    	WHERE CUSTOMER_ID = #{_parameter}
    </delete>
    
</mapper>