<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libedi.demo.customer.mapper.CustomerMapper">
    
    <!-- Select Customer -->
    <select id="selectCustomerList" parameterType="int" resultType="com.libedi.demo.customer.model.Customer">
        SELECT
            CUSTOMER_ID
            , CUSTOMER_NAME
            , COMPANY
        FROM CUSTOMER
        <where>
            <if test="_parameter != null">
                CUSTOMER_ID = #{_parameter}
            </if>
        </where>
    </select>
    
</mapper>